.likesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    font-weight: normal;

    cursor: pointer;
}

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
}